<!-- ************* -->
<!-- ************* -->

<!-- DEMO PAGE HTML -->

<!-- ************* -->
<!-- ************* -->

<div class="float-right">
  <a href="https://github.com/innovThemes/ngb-card"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github-logo" width="64"></a>
</div>
<div class="container">
  <h1 class="my-5 text-center demo-card-header">
    ngb-card - Boostrap 4 Powered Angular Card with optional Snippet code feature
  </h1>

  <p class="h4 my-2 alert alert-info"> <strong>More EXAMPLES are under devlopment..</strong> Thank You.. <strong> <br>  For Query, chat 👨‍💻 with us [chat icon at bottom right corner] at <a href="https://innovthemes.com/">https://www.innovthemes.com</a> </strong>.</p>

  <div class="row mt-4">


    <div class="col-12 col-md-6">
      <h4 class="text-center mb-4 alert alert-primary">Basic Card </h4>

      <ngb-card [footerClass]="'text-danger'">
        <div class="ngb-card-header">Card Header</div>
        <div class="ngb-card-body text-center">
          <div class="mx-auto mt-2">
            <img
              class="img-fluid"
              src="https://p.kindpng.com/picc/s/715-7155174_professional-headshots-men-asian-png-download-professional-profile.png"
              width="70"
              alt="img placeholder"
            />
          </div>
          <h4>Gerry Dillon</h4>
          <p class="">Designer</p>
          <div class="d-flex justify-content-between">
            <small class="float-left font-weight-bold" id="example-caption-3"
              >720 Points</small
            >
            <small class="float-right font-weight-bold" id="example-caption-4"
              >1000</small
            >
          </div>
          <div class="progress box-shadow my-3">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              aria-valuenow="45"
              aria-valuemin="45"
              aria-valuemax="100"
              style="width: 45%;"
              aria-describedby="example-caption-3"
            ></div>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary">
              Follow
            </button>
            <button class="btn btn-outline-primary">
              Message
            </button>
          </div>
        </div>
        <div class="ngb-card-footer">Card Footer</div>
      </ngb-card>
    </div>

    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <h4 class="text-center mb-4 alert alert-primary"> Advance Card example (Snippet code card)</h4>
      <ngb-card
        [headerClass]="'h3 text-primary'"
        [footerClass]="'text-danger'"
        [codeSnippet]="snippetCodeVariable"
      >
        <div class="ngb-card-header">Card Header</div>
        <div class="ngb-card-body text-center">
          <div class="mx-auto mt-2">
            <img
              class="img-fluid"
              src="https://p.kindpng.com/picc/s/715-7155174_professional-headshots-men-asian-png-download-professional-profile.png"
              width="70"
              alt="img placeholder"
            />
          </div>
          <h4>Gerry Dillon</h4>
          <p class="">Designer</p>
          <div class="d-flex justify-content-between">
            <small class="float-left" id="ngb-card-advance">720 Points</small>
            <small class="float-right" id="ngb-card-advance">1000</small>
          </div>
          <div class="progress shadow-sm my-3">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              aria-valuenow="45"
              aria-valuemin="45"
              aria-valuemax="100"
              style="width: 45%;"
              aria-describedby="ngb-card-advance"
            ></div>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary">
              Follow
            </button>
            <button class="btn btn-outline-primary">
              Message
            </button>
          </div>
        </div>
        <div class="ngb-card-footer">Card Footer</div>
      </ngb-card>
    </div>
  </div>
</div>
