<div class="row container mt-4">
  <div class="col-12">
    <ngb-card [cardClass]="'test'" [footerClass]="'text-danger'" [codeSnippet]="snippetCodeAccordion">
      <div class="ng-card-header">TEST header</div>
      <div class="ng-card-body">
        TEST body
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias reiciendis autem, eum, amet praesentium nulla accusamus laudantium, repellat atque vero facilis aliquid nobis totam cupiditate est? Fugiat vel blanditiis adipisci.
      </div>
      <div class="ng-card-footer" >TEST footer</div>
    </ngb-card>
  </div>
</div>
