.demo-card-header {

  background: rgb(57, 50, 180);
  background: linear-gradient(36deg, rgba(57, 50, 180, 1) 0%, rgba(88, 88, 215, 1) 30%, rgba(60, 128, 228, 1) 68%, rgba(34, 164, 240, 1) 81%, rgba(0, 212, 255, 1) 100%);
  padding: 2rem;
  border-radius: 1.25rem;
  color: white;

}
